.canvas {
  --margin: 1rem;
  height: calc(100vh - (var(--margin) * 2));
  margin: var(--margin);
  aspect-ratio: 1/1.414;
}

.canvas > * {
  border: 2px solid green;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.tile.selected {
  background-color: skyblue;
}

.dismiss {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  z-index: 10;
}

.tile:hover .dismiss {
  display: block;
}

.uploaded-image {
  object-fit: fill;
  max-height: 100%;
}
