main {
  display: grid;
  height: 100vh;
  overflow-y: hidden;
  grid-template-columns: max-content 1fr;
}

.settings {
  --child-padding: 2rem;
  padding-block: 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--child-padding);
  padding-inline-start: 2rem;
}

.settings > section {
  border-top: 1px solid #e5e7eb;
  padding-top: var(--child-padding);
}

.settings h1 {
  font-size: 1.5rem;
}
.settings h2 {
  font-size: 1.125rem;
  margin-block-end: 0.5rem;
}
.settings h3 {
  font-size: 1rem;
}

.settings button,
.settings input,
.settings select {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #d1d5db;
}

.settings input,
.settings select {
  line-height: 1.5;
  margin-right: 0.5rem;
}

.settings .btn-primary {
  background-color: #16a34a;
  border: 1px solid #137f3a;
  color: white;
}

.canvas {
  z-index: 5;
  height: 100vh;
  aspect-ratio: 1/1.414;
  overflow-y: hidden;
  box-shadow: -200px 0 50px rgba(0, 0, 0, 0.05),
    200px 0 50px rgba(0, 0, 0, 0.05);
}

.canvas > * {
  background-color: white;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.tile.selected {
  background-color: #bae6fd;
}

.dismiss,
.add-paragraph {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  z-index: 10;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 0.2rem solid;
}

.dismiss:active,
.add-paragraph:active {
  border: none;
}

.dismiss:hover,
.add-paragraph:hover {
  filter: brightness(90%);
}

.dismiss {
  top: 1rem;
  right: 1rem;
  background-color: #be123c;
  border-color: #9f1239;
}

.add-paragraph {
  top: 1rem;
  left: 1rem;
  background-color: #16a34a;
  border-color: #166534;
}

.tile:hover .dismiss,
.tile:hover .add-paragraph {
  display: block;
}

.uploaded-image {
  object-fit: fill;
  max-height: 100%;
}

.tile .paragraph-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.tile .content-editable {
  min-width: 1rem;
  outline: 1px dashed grey;
}

blockquote {
  margin: 0;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

label {
  display: block;
}

/* Disable construction lines when saving as image */

.canvas .saving .tile,
.saving .content-editable {
  outline: none;
}

.saving .tile:hover .dismiss,
.saving .tile:hover .add-paragraph {
  display: none;
}
.saving .selected {
  background-color: transparent;
}
