.canvas {
  height: 100vh;
  aspect-ratio: 1/1.414;
  padding: 1rem;
}

.canvas > * {
  border: 2px solid green;
}

.tile {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dismiss {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  z-index: 10;
}

.tile:hover .dismiss {
  display: block;
}

.uploaded-image {
  object-fit: fill;
  max-height: 100%;
}
